html, body {
	width: 100%;
	height: 100%;
}

html {
	overflow-y: scroll;
	font-size: 10px;
	margin: 0;
	padding: 0;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p,
	button, canvas, figure {
	margin: 0;
	padding: 0;
}

body, h1, h2, h3, h4, input, button {
/* 	font-family: Malgun Gothic, Helvetica, AppleSDGothicNeo, sans-serif; */
	font-size: 12px;
	color: #0d0d0d;
}

body {
	background-color: #fff;
	*word-break: break-all;
	-ms-word-break: break-all;
}

img, fieldset, iframe {
	border: 0 none;
}

li {
	list-style: none;
}

img {
	vertical-align: top;
}

i, em, address {
	font-style: normal;
}

a {
	color: #0d0d0d;
	text-decoration: none;
}

a:hover {
	color: #390;
	text-decoration: underline;
}

label, button {
	cursor: pointer;
}

button {
	margin: 0;
	padding: 0;
}

button * {
	position: relative;
}

button img {
	left: -3px;
	*left: auto;
}

input, select, button {
	vertical-align: middle;
}

html:first-child select {
	height: 20px;
	padding-right: 6px;
}

option {
	padding-right: 6px;
}

/*hr { display: none; }*/
legend {
	*width: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input::-ms-clear {
	display: none;
}

/** selectbox **/
.extend-custom-select {
		padding: 8.5px 20px !important;
		border: 1px solid #d0d0d0 !important;
		border-radius: 2px;
		cursor: pointer !important;
}
.extend-custom-select:before {
		display: none;
}
.extend-custom-select:after {
		margin-left: auto;
		content: "" !important;
		width: 12px;
		height: 8px;
		background: #fff url("../images/icon-search-arrow.png") no-repeat 50% 50%;
}
.extend-custom-select .sod_label {
		font-family: Noto Sans KR;
		font-size: 13px;
		color: #555;
		font-weight: 500;
}
.extend-custom-select .sod_list_wrapper {
		border: 1px solid #ddd !important;
		left: 2px !important;
}
.extend-custom-select .sod_list_wrapper .sod_list .sod_option {
		display: block;
		text-align: left;
		font-family: Noto Sans KR;
		font-size: 13px;
		line-height: 26px;
		padding: 6px 10px;
		color: #000;
}
.extend-custom-select .sod_list_wrapper .sod_list .sod_option:hover {
		background-color: #eee;
		opacity: 0.7;
}

/* pagination */
.paginate {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin: 34px 0;
}
.paginate a,
.paginate .pages > a {
		margin-left: 6px;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		width: 26px;
		height: 26px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		background-color: #ffffff;
		border: 1px solid #e4e4e4;
		border-radius: 4px;
		font-family: Roboto;
		font-size: 13px;
		color: #555555;
		font-weight: 400;
}
.paginate a > a,
.paginate .pages > a > a {
		margin-left: 0;
}
.paginate a.curr,
.paginate .pages > a.curr {
		font-weight: 700;
		background-color: #f3f0ff;
		border-color: #3617ce;
		color: #3617ce;
}
.paginate a.before a, .paginate a.prev a, .paginate a.next a, .paginate a.after a,
.paginate .pages > a.before a,
.paginate .pages > a.prev a,
.paginate .pages > a.next a,
.paginate .pages > a.after a {
		border: 0;
		text-indent: -9999px;
}
.paginate a.start,
.paginate .pages > a.start {
		background: #fff url("../images/pagination-button-before.png") no-repeat 50% 50%;
}
.paginate a.prev,
.paginate .pages > a.prev {
		background: #fff url("../images/pagination-button-prev.png") no-repeat 50% 50%;
}
.paginate a.next,
.paginate .pages > a.next {
		background: #fff url("../images/pagination-button-next.png") no-repeat 50% 50%;
}
.paginate a.end,
.paginate .pages > a.end {
		background: #fff url("../images/pagination-button-after.png") no-repeat 50% 50%;
}
#footer {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		width: 100%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
}
#footer .footer-row {
		background-color: #efefef;
}
#footer .footer-row .big-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #efefef;
		width: auto;
		max-width: 1760px;
		margin: 0 auto;
		padding: 4px 0;
}

#footer .left-content {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		visibility: hidden;
}
#footer .left-content #footer-logo {
		width: 78px;
		height: 24px;
		background: url("../images/footer-logo.png") no-repeat 50% 50%;
		background-size: contain;
		text-indent: -9999px;
}
#footer .left-content div {
		color: #656565;
		font-size: 12px;
		margin-left: 20px;
}
#footer .left-content div address {
		font-family: Noto Sans KR;
		font-style: normal;
		line-height: 18px;
}
#footer .left-content div strong {
		font-family: Roboto;
		line-height: 18px;
}
#footer .right-content {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
}
#footer .right-content .family-box .sod_select {
		width: 160px;
		height: 20px;
		-webkit-box-sizing: border-box;
				box-sizing: border-box;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 3px;
		cursor: pointer;
		padding: 3px 10px;
}
#footer .right-content .family-box .sod_select:before {
		display: none;
}
#footer .right-content .family-box .sod_select:after {
		content: "";
		width: 9px;
		height: 5px;
		right: 0;
		bottom: 7px;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
		-webkit-box-pack: start;
			-ms-flex-pack: start;
				justify-content: flex-start;
		width: 100%;
		background: url("../images/icon-footer-arrow.png") no-repeat 93% 50%;
}
#footer .right-content .family-box .sod_select .sod_label {
		font-family: Noto Sans KR;
		font-size: 11px;
		font-weight: 400;
		color: #656565;
}
#footer .right-content .family-box .sod_select .sod_list_wrapper {
		background-color: #fff;
		border: 1px solid #ddd;
		width: auto;
		left: -1px;
		right: -1px;
		margin: 0;
		-webkit-box-sizing: border-box;
				box-sizing: border-box;
}
#footer .right-content .family-box .sod_select .sod_list_wrapper .sod_option {
		color: #a4a4a4;
}
#footer .right-content .family-box .sod_select .sod_list_wrapper .sod_option.active {
		background-color: #efefef;
}

#footer #quick-menu {
		display: flex;
}
#footer #quick-menu > li {
		position: relative;
		padding: 5px 20px;
}
#footer #quick-menu > li + li::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 1px;
		height: 12px;
		margin-top: -5px;
		background: #c2c2c2;
}
#footer #quick-menu > li > a {
		display: block;
		color: #555;
		font-size: 12px;
}
/*# sourceMappingURL=common.css.map */