@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Thin'), local('NotoSans-Thin'),
    url(../fonts/NotoSansKR-Thin-Hestia.eot),
    url(../fonts/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSansKR-Thin-Hestia.woff) format('woff'),
    url(../fonts/NotoSansKR-Thin-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url(../fonts/NotoSansKR-Light-Hestia.eot),
    url(../fonts/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(../fonts/NotoSansKR-Light-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 350;
    src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'),
    url(../fonts/NotoSansKR-DemiLight-Hestia.eot),
    url(../fonts/NotoSansKR-DemiLight-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSansKR-DemiLight-Hestia.woff) format('woff'),
    url(../fonts/NotoSansKR-DemiLight-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(../fonts/NotoSansKR-Regular-Hestia.eot),
    url(../fonts/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSansKR-Regular-Hestia.woff) format('woff'),
    url(../fonts/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url(../fonts/NotoSansKR-Medium-Hestia.eot),
    url(../fonts/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSansKR-Medium-Hestia.woff) format('woff'),
    url(../fonts/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(../fonts/NotoSansKR-Bold-Hestia.eot),
    url(../fonts/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(../fonts/NotoSansKR-Bold-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans Black'), local('NotoSans-Black'),
    url(../fonts/NotoSansKR-Black-Hestia.eot),
    url(../fonts/NotoSansKR-Black-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSansKR-Black-Hestia.woff) format('woff'),
    url(../fonts/NotoSansKR-Black-Hestia.otf) format('opentype');
}



@font-face {
		font-family: "Roboto";
		font-style: normal;
		font-weight: 400;
		src: local("Roboto"), local("Roboto"), url(../fonts/Roboto-Regular.eot), url(../fonts/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Roboto-Regular.woff) format("woff"), url(../fonts/Roboto-Regular.otf) format("opentype");
}
@font-face {
		font-family: "Roboto";
		font-style: normal;
		font-weight: 600;
		src: local("Roboto"), local("Roboto"), url(../fonts/Roboto-Bold.eot), url(../fonts/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Roboto-Bold.woff) format("woff"), url(../fonts/Roboto-Bold.otf) format("opentype");
}
@font-face {
		font-family: "Noto Sans KR + Roboto";
		font-style: normal;
		font-weight: 400;
		src: local("Roboto"), local("Roboto"), url(../fonts/Roboto-Regular.eot), url(../fonts/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Roboto-Regular.woff) format("woff"), url(../fonts/Roboto-Regular.otf) format("opentype");
		unicode-range: U+0030-0039;
}
@font-face {
		font-family: "Noto Sans KR + Roboto";
		font-style: normal;
		font-weight: 400;
		src: local("Noto Sans Regular"), local("NotoSans-Regular"), url(../fonts/NotoSansKR-Regular-Hestia.eot), url(../fonts/NotoSansKR-Regular-Hestia.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Regular-Hestia.woff) format("woff"), url(../fonts/NotoSansKR-Regular-Hestia.otf) format("opentype");
}